body {
  background-image: url('./assets/counter-background.jpg');
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}

.container {
  height: 100vh;
}
.row {
  width: 60%;
  margin: auto;
  margin-top: 12rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(1, 0, 0, 0.2) 2px 2px 5px 0px;
  border-radius: 20px;
}

h1 {
  padding-top: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: 2px solid rgba(69, 12, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

p {
  padding-bottom: 50px;
}

#increments_btn {
  background: rgb(51, 202, 5);
}

#save_btn {
  background: rgb(231, 8, 182);
}

@media screen and (max-width: 768px) {
  .row {
    width: 90%;
    margin-top: 9rem !important;
  }
}
